/* YOUR CUSTOM STYLES */
.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "Roboto-Regular";
    src: url("../font/RobotoRegular/RobotoRegular.eot");
    src: url("../font/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../font/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../font/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
    font-family: "Roboto-Light";
    src: url("../font/RobotoLight/RobotoLight.eot");
    src: url("../font/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../font/RobotoLight/RobotoLight.woff") format("woff"),
    url("../font/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
    font-family: "Roboto-Medium";
    src: url("../font/RobotoMedium/RobotoMedium.eot");
    src: url("../font/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
    url("../font/RobotoMedium/RobotoMedium.woff") format("woff"),
    url("../font/RobotoMedium/RobotoMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
    font-family: "Roboto-Bold";
    src: url("../font/RobotoBold/RobotoBold.eot");
    src: url("../font/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../font/RobotoBold/RobotoBold.woff") format("woff"),
    url("../font/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}*