/* YOUR CUSTOM STYLES */
.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}
main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/*.mdl-layout {*/
/*align-items: center;*/
/*justify-content: center;*/
/*}*/

/*.mdl-layout__content {*/
/*padding: 24px;*/
/*flex: none;*/
/*}*/