<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
    <!--<meta http-equiv="x-ua-compatible" content="ie=edge"/>-->
     <!--Latest compiled and minified CSS-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->
     <!--Optional theme-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>

    <title>VangaBook </title>

     <!--Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css"/>
    <!--Font Roboto-->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
     <!--Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Material Design Bootstrap -->
    <link href="../static/css/mdb.min.css" th:href="@{/css/mdb.min.css}" rel="stylesheet"/>
    <!-- Your custom styles (optional) -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!-- Prism -->
    <link href="../static/css/prism.min.css" th:href="@{/prism.min.css}" rel="stylesheet"/>

</head>
<body th:fragment="body">
<!--<div class="container">-->
    <!--<th:block th:include="fragments/header :: header"/>-->
<!--</div>-->
<main th:fragment="main">
    <!--<hr class="extra-margins"/>-->


<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="col-md-6 col-md-offset-3">-->
            <!--<div class="panel panel-default" style="margin-top:45px">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">Login with Username and Password</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<div th:if = "${logout}">-->
                        <!--<div class="alert alert-info" role="alert">You've been logged out successfully.</div>-->
                    <!--</div>-->
                    <!--<div th:if = "${error}">-->
                        <!--<div class="alert alert-danger" role="alert">Invalid Username or Password!</div>-->
                    <!--</div>-->

                    <!--<form name="f" th:action="@{/login}" method="post">-->
                        <!--<input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>-->
                        <!--<div class="form-group">-->
                            <!--<label for="username">Username</label>-->
                            <!--<input type="text" class="form-control" id="username" placeholder="Username"-->
                                   <!--name="username"/>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label for="password">Password</label>-->
                            <!--<input type="password" class="form-control" id="password" placeholder="Password"-->
                                   <!--name="password"/>-->
                        <!--</div>-->
                        <!--<button type="submit" class="btn btn-default">Log in</button>-->
                    <!--</form>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


    <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default" style="margin-top:45px">
            <div class="panel-heading">
                <h3 class="panel-title">Login with Username and Password</h3>
            </div>
            <div class="panel-body">
                <div th:if = "${param.logout}">
                    <div class="alert alert-info" role="alert">You've been logged out successfully.</div>
                </div>
                <div th:if = "${param.error}">
                    <div class="alert alert-danger" role="alert">Invalid Username or Password!</div>
                </div>
                <form name="f" th:action="@{/login}" method="post">
                    <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden"/>

                <div class="card">
        <div class="card-block">

            <!--Header-->
            <div class="container">
            <div class="text-center">
                <h3><i class="fa fa-lock"></i> Login:</h3>
            </div>
                </div>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="username" class="form-control" name="username"/>
                <label for="username">Your username</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="password" class="form-control" name="password"/>
                <label for="password">Your password</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-deep-purple">Login</button>
            </div>
            </div>
            </div>
            </form>
        <!--Footer-->
        <div class="modal-footer">
            <div class="options">
                <p>Not a member? <a href="#">Sign Up</a></p>
                <p>Forgot <a href="#">Password?</a></p>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</main>
<!--<div class="container">-->
    <!--<th:block th:include="fragments/footer :: footer"/>-->
<!--</div>-->



</body>
</html>